<div class="text-right" style="margin: 2%">
    <button class="btn btn-success" routerLink="/login">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="btn btn-primary" routerLink="/register" >Register</button>&nbsp;&nbsp;&nbsp;&nbsp;
</div>

<div class="container">
<div class="col-lg-6 col-md-6 offset-md-5">
    <h2 style="color:darkorange;"><br>
           Welcome to SafePay Wallet!!
    </h2>
    <br/>
    <h4 class="text-primary">You can easily perform following </h4>
    <ul class="text-success font-weight-bold">
        <li>Deposit or Add Money</li>
        <li>Withdraw Money</li>
        <li>Check Balance</li>
        <li>Transfer Money</li>
        <li>Check Transactions</li>        
    </ul>
</div>
</div>
    <br>
<br>