<!-- <header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
  <ul class="navbar-nav">
    <li><a  routerLink="/loginHome" class="nav-link">Home</a></li>
    <li><a  routerLink="/accDetails" class="nav-link">Account Details</a></li>
    <li><a  routerLink="/showBalance" class="nav-link">Show Balance</a></li>
    <li><a  routerLink="/deposit" class="nav-link">Deposit</a></li>
    <li><a  routerLink="/withdraw" class="nav-link">Withdraw</a></li>
    <li><a  routerLink="/transfer" class="nav-link">Transfer</a></li>
    <li><a  routerLink="/showTrans" class="nav-link">Transactions</a></li>
    <li><a  routerLink="/logout" class="nav-link">Logout</a></li>

  </ul>
  </nav>
</header>
<br>
<h3 style="color: blue">Withdraw money from wallet</h3>
<br>
<h4><label style="color: red;" >Enter amount:</label></h4>&nbsp;&nbsp;&nbsp;
<input type="number" name="money" [(ngModel)]=amount name=amount id=amount>&nbsp;&nbsp;&nbsp;
<button class="btn btn-primary" (click)="removeMoney()">Withdraw</button>&nbsp;&nbsp;&nbsp;
<br>
<br>
<h5 style="color: blue">{{message}}</h5>
 -->

 <div class="navbar">
  <div  class=" col-lg-12 col-md-12 text-hover" style="background-color: #555" >
      
   <a  routerLink="/loginHome"><img src="assets/images/HomeIcon.png" style="width: 4%; height:8%;margin-left: 10px"/><b>&nbsp;Home</b></a> 
   <!-- <a  routerLink="/profile"><img src="assets/images/ProfileIcon.png" style="width: 4%; height:8%;margin-left: 10px"/><b>Profile</b></a>  -->
   <a class="offset-lg-6 offset-md-6" routerLink="/logout"><img src="assets/images/LogoutIcon.png" style="width: 4%; height:8%;margin-left: 10px"/><b>&nbsp;Logout</b></a> 
  
  </div>
</div>

<br><br>
<div class="col-lg-7 col-md-7 offset-lg-3 offset-md-3">
    <h3 class="text-primary ">Withdraw Money</h3>
    <br>

    <form [formGroup]="withdrawForm" (ngSubmit)="removeMoney()">
        <!-- Amount -->
        <div class="form-group  ">
            <label for="amount" class="required">Enter Amount : </label>
            <input type="text" class="form-control" formControlName="amount" placeholder="Amount"/>

            <div *ngIf="submitted && withdrawForm.controls.amount.errors" class="error">
                    <div class="text-danger" *ngIf="withdrawForm.controls.amount.errors.required">
                        Amount is Required..
                    </div>
                    <div class="text-danger" *ngIf="withdrawForm.controls.amount.errors.max">
                        Maximum Amount to be withdrawn exceeded.
                    </div>
                    <div class="text-danger" *ngIf="withdrawForm.controls.amount.errors.pattern">
                        Amount should not start with zero and should be numeric..!
                    </div>
                </div>

        </div> 
        <!-- Amount End -->
        <!-- Password -->
        <div class="form-group">
            <label for="password" class="required">Password : </label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password"/>
            <div *ngIf="submitted && withdrawForm.controls.password.errors" class="error">
                <div class="text-danger" *ngIf="withdrawForm.controls.password.errors.required">
                    Password is Required..
                </div>  
            </div>
           </div>  
           <!-- end of Password -->
        <button class="btn btn-outline-success " type="submit"><b>Withdraw</b></button> &nbsp;
        <a class="btn btn-outline-danger" routerLink="/loginHome"><b>Cancel</b></a><br><br>        
        <br>
    </form>
</div>