
 <div class="navbar">
  <div  class=" col-lg-12 col-md-12 text-hover" style="background-color: #555" >
      
   <a  routerLink="/loginHome"><img src="assets/images/HomeIcon.png" style="width: 4%; height:8%;margin-left: 10px"/><b>&nbsp;Home</b></a> 
   <a  routerLink="/accDetails"><img src="assets/images/ProfileIcon.png" style="width: 4%; height:8%;margin-left: 10px"/><b>&nbsp;Profile</b></a>  
   <a class="offset-lg-6 offset-md-6" routerLink="/logout"><img src="assets/images/LogoutIcon.png" style="width: 4%; height:8%;margin-left: 10px"/><b>&nbsp;Logout</b></a> 
  
  </div>
</div>

<br><br>
<div class="col-lg-7 col-md-7 offset-lg-3 offset-md-3">
    <h3 class="text-primary ">Withdraw Money</h3>
    <br>

    <form [formGroup]="withdrawForm" (ngSubmit)="removeMoney()">
        <!-- Amount -->
        <div class="form-group  ">
            <label for="amount" class="required">Enter Amount : </label>
            <input type="text" class="form-control" formControlName="amount" placeholder="Amount"/>

            <div *ngIf="submitted && withdrawForm.controls.amount.errors" class="error">
                    <div class="text-danger" *ngIf="withdrawForm.controls.amount.errors.required">
                        Amount is Required..
                    </div>
                    <div class="text-danger" *ngIf="withdrawForm.controls.amount.errors.max">
                        Maximum Amount to be withdrawn exceeded.
                    </div>
                    <div class="text-danger" *ngIf="withdrawForm.controls.amount.errors.pattern">
                        Amount should not start with zero and should be numeric..!
                    </div>
                </div>

        </div> 
        <!-- Amount End -->
        <!-- Password -->
        <div class="form-group">
            <label for="password" class="required">Password : </label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password"/>
            <div *ngIf="submitted && withdrawForm.controls.password.errors" class="error">
                <div class="text-danger" *ngIf="withdrawForm.controls.password.errors.required">
                    Password is Required..
                </div>  
            </div>
           </div>  
           <!-- end of Password -->
        <button class="btn btn-outline-success " type="submit"><b>Withdraw</b></button> &nbsp;
        <a class="btn btn-outline-danger" routerLink="/loginHome"><b>Cancel</b></a><br><br>        
        <br>
    </form>
</div>