
<br>
<div class="col-md-12 col-lg-12">
    <h3 class="text-primary" style="margin-left: 25%;">Welcome to Registration</h3>
    <br>
    <form [formGroup]="addForm" (ngSubmit)="newUser()">
        <!-- Name Text Box -->
        <div class="form-group row">
            <label for="name" class="required col-lg-4 text-right font-weight-bold">
                Name :
            </label>
            <div class="col-lg-8">
                    <input type="text" class="form-control " placeholder="Name" formControlName="name" />

                    <div *ngIf="submitted && addForm.controls.name.errors">
                        <div class="text-danger" *ngIf="addForm.controls.name.errors.required">
                            Name is required..!
        
                        </div>
                        <div class="text-danger" *ngIf="addForm.controls.name.errors.pattern">
                            Maximum 30 characters long..!
                        </div>
        
                    </div>
            </div>
            

        </div>
        <!--  End of Name Text Box -->

         <!-- UserName Text Box -->
         <div class="form-group row">
          <label for="username" class="required col-lg-4 text-right font-weight-bold">
              Username :
          </label>
          <div class="col-lg-8">
                  <input type="text" class="form-control " placeholder="Username" formControlName="username" />

                  <div *ngIf="submitted && addForm.controls.username.errors">
                      <div class="text-danger" *ngIf="addForm.controls.username.errors.required">
                          Username is required..!
      
                      </div>
                      <div class="text-danger" *ngIf="addForm.controls.username.errors.pattern">
                        Username may have text and numbers and length min 8 and max 12 characters.
                      </div>
      
                  </div>
          </div>
          

      </div>
      <!--  End of UserName Text Box -->

        <!-- Mobile Number Text Box -->
        <div class="form-group row">
            <label for="mob_number" class="required col-lg-4 text-right font-weight-bold">
                Mobile Number :
            </label>
            <div class="col-lg-8">
                    <input type="text" class="form-control " placeholder="Mobile Number" formControlName="mob_number" />

                    <div *ngIf="submitted && addForm.controls.mob_number.errors">
                        <div class="text-danger" *ngIf="addForm.controls.mob_number.errors.required">
                            Mobile Number is required..!
        
                        </div>
                        <div class="text-danger" *ngIf="addForm.controls.mob_number.errors.pattern">
                            Mobile Number must be 10 digits and should be numeric..!
                        </div>
        
                    </div>
            </div>
            

        </div>
        <!--  End of Mobile Number Text Box -->

        <!-- Email Text Box -->
        <div class="form-group row">
            <label for="mail" class="required col-lg-4 text-right font-weight-bold">
                Email :
            </label>
            <div class="col-lg-8">
                    <input type="emailId" class="form-control " placeholder="Email" formControlName="mail" />

                    <div *ngIf="submitted && addForm.controls.mail.errors">
                        <div class="text-danger" *ngIf="addForm.controls.mail.errors.required">
                            Email is required..!
        
                        </div>
                        <div class="text-danger" *ngIf="addForm.controls.mail.errors.email ">
                            Invalid Email Address..!
                        </div>
        
                    </div>
            </div>
          

        </div>
        <!--  End of Email Text Box -->

        <!-- Password Text Box -->
        <div class="form-group row">
            <label for="password" class="required col-lg-4 text-right font-weight-bold">
                Password :
            </label>
            <div class="col-lg-8">
                    <input type="password" class="form-control " placeholder="Password" formControlName="password" />

                    <div *ngIf="submitted && addForm.controls.password.errors">
                        <div class="text-danger" *ngIf="addForm.controls.password.errors.required">
                            Password is required..!
                        </div>
                        <div class="text-danger" *ngIf="addForm.controls.password.errors.pattern">
                            Password should have at least One uppercase,one lowercase letter,one numeric
                            ,one special character and length min 8 and max 15 characters.
                        </div>
                    </div>
            </div>
        </div>        
        <!--  End of Password Text Box -->

        <div class="text-right">
            <button class="btn btn-outline-success" type="submit"><b>Submit</b></button>&nbsp;&nbsp;
            <button class="btn btn-outline-warning" type="reset"><b>Reset</b></button> &nbsp;&nbsp;
            <a class="btn btn-outline-danger" routerLink="/homepage"><b>Cancel</b></a>

        </div>
    </form>
    <br>
</div>