
<div class="navbar">
  <div  class=" col-lg-12 col-md-12 text-hover" style="background-color: #555" >
      
   <a  routerLink="/loginHome"><img src="assets/images/HomeIcon.png" style="width: 4%; height:8%;margin-left: 10px"/><b>&nbsp;Home</b></a> 
   <a  routerLink="/accDetails"><img src="assets/images/ProfileIcon.png" style="width: 4%; height:8%;margin-left: 10px"/><b>&nbsp;Profile</b></a>  
   <a class="offset-lg-6 offset-md-6" routerLink="/logout"><img src="assets/images/LogoutIcon.png" style="width: 4%; height:8%;margin-left: 10px"/><b>&nbsp;Logout</b></a> 
  
  </div>
</div>

<br>
<h2 class="offset-lg-1 offset-md-1" style="margin-top: 30px;">Hello {{userData.name}},</h2><br><br>

<div class="row offset-lg-1 offset-md-1" style="margin-top: 30px;"><br><br>
    <a routerLink="/deposit" class="btn btn-outline-primary"><b>Add Money</b></a>&nbsp;&nbsp;
    <a routerLink="/withdraw" class="btn btn-outline-primary" ><b>Withdraw Money</b></a>&nbsp;&nbsp;
    <a routerLink="/transfer" class="btn btn-outline-primary"><b>Money Transfer</b></a>&nbsp;&nbsp;
    <a routerLink="/showBalance" class="btn btn-outline-primary"><b>Check Balance</b></a>&nbsp;&nbsp;
    <a routerLink="/showTrans" class="btn btn-outline-primary"><b>Show Transactions</b></a>&nbsp;&nbsp;
</div>


